@tailwind components;

@layer components {
  .popup_container {
    @apply w-[320px] h-[342px] box-border overflow-hidden -mt-px flex flex-col;
  }

  .popup_header {
    @apply flex ml-5;
  }

  .popup_title {
    @apply text-base font-bold mt-1;
    color: #3A7CA5;
  }

  .popup_logo {
    @apply w-8 mr-3;
  }

  .popup_cardSection {
    @apply flex-1 px-6 pt-5 pb-6 box-border;
  }

  .popup_card {
    @apply w-full h-full bg-white rounded-2xl shadow-md overflow-hidden;
  }

  .popup_cardHeader {
    @apply w-full flex font-bold text-lg justify-center h-12 items-center;
    background-color: #F8F9FA;
    color: #3A7CA5;
  }

  .popup_loading_spinner {
    @apply w-16 h-16 rounded-full border-8 border-[#E3F2FD] border-t-[#3A7CA5] animate-spin;
  }

  .popup_loading_text {
    @apply text-sm;
    color: #747474;
  }
}