@tailwind components;

@layer components {
  .popup_container {
    @apply -mt-px box-border flex h-[342px] w-[320px] flex-col overflow-hidden;
  }

  .popup_header {
    @apply ml-5 flex;
  }

  .popup_title {
    @apply mt-1 text-base font-bold;
    color: #3a7ca5;
  }

  .popup_logo {
    @apply mr-3 w-8;
  }

  .popup_cardSection {
    @apply box-border flex-1 px-6 pb-5 pt-5;
  }

  .popup_card {
    @apply h-full w-full overflow-hidden rounded-2xl bg-white shadow-md;
  }

  .popup_cardHeader {
    @apply flex h-12 w-full items-center justify-center text-lg font-bold;
    background-color: #f8f9fa;
    color: #3a7ca5;
  }

  .popup_loading_spinner {
    @apply h-16 w-16 animate-spin rounded-full border-8 border-[#E3F2FD] border-t-[#3A7CA5];
  }

  .popup_loading_text {
    @apply text-sm;
    color: #747474;
  }

  /* Info Box */
  .popup_infoBox {
    @apply mt-6 flex items-center rounded-xl px-4 py-4 shadow-sm;
    background-color: #f8f9fa;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .popup_infoText {
    @apply flex min-w-0 flex-1 flex-col gap-2;
  }

  .popup_infoLabel {
    @apply text-[10px] font-normal uppercase leading-none;
    color: #888888;
  }

  .popup_infoValue {
    @apply block truncate pr-1 text-[12px] font-semibold;
    color: #4b4b4b;
  }

  /* btn */
  .popup_btn_submit {
    @apply h-10 w-auto rounded-xl px-4 text-sm font-semibold text-white shadow-md transition-colors;
  }

  .popup_btn_background {
    @apply bg-gradient-to-r from-[#0194C9] to-[#2E739E] hover:from-[#0288B3] hover:to-[#286A8E] focus:outline-none focus:ring-2 focus:ring-[#2E739E] focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .popup_btn_secondary {
    @apply h-10 w-auto rounded-xl bg-[#4B4B4B] px-4 text-sm font-semibold text-white shadow-md hover:bg-[#3E3E3E] focus:outline-none focus:ring-2 focus:ring-[#4B4B4B] focus:ring-offset-2;
  }

  /* Result Page */
  .popup_metric_box {
    @apply mx-auto w-[240px] rounded-2xl border border-slate-100 px-4 py-2 shadow-sm;
    background-color: #f8f9fa;
  }

  .popup_metric_grid {
    @apply grid grid-cols-2;
  }

  .popup_metric_label {
    @apply text-[10px] font-semibold text-slate-600;
  }

  .popup_metric_value {
    @apply text-[11px] font-semibold text-[#3A7CA5];
  }

  .popup_status_bad {
    @apply inline-flex h-4 w-4 items-center justify-center rounded-full bg-[#FF5A5A] text-[10px] font-bold text-white;
  }

  .popup_status_good {
    @apply inline-flex h-4 w-4 items-center justify-center rounded-full bg-[#2E739E] text-[10px] font-bold text-white;
  }

  .popup_progress {
    @apply relative h-2 w-full overflow-hidden rounded-full;
    background-color: #e6e9ee;
  }

  .popup_progress_bar {
    @apply absolute left-0 top-0 h-full rounded-full;
    background-color: #2e739e;
  }
}
